<link rel="stylesheet" href="/delete.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Uncial+Antiqua&display=swap" rel="stylesheet">
<h1 class="black-ops-one-regular">Your response has been deleted ❌</h1>
<a href="/">Go back</a></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
<%- include("partials/footer.ejs")%>